.App {
  text-align: center;
}

.container {

}

.Light-theme {
  background-color: #6dc0d5;
  color: #282c34;
}

.Dark-theme {
  background-color: #282c34;
  color: #6dc0d5;
  opacity: 95%;
}

button {
  margin: 5px;
  padding: 15px 40px;
}

.Light-button {
  background-color: #EDBF85;
}

.Dark-button {
  background-color: #B2CEDE;
}